$color: #fff;
$backgroundColor: transparent;

.progressBar {
  color: $color;
  margin: 0% 5% 0% 5%;
  background-color: $backgroundColor;
  border: 1px solid gray;
}

.label {
  margin: 2% 0% 2% 5%;
  color: $color;
  font-weight: 600;
}

.progressBarLast {
  @extend .progressBar;
  margin: 0% 5% 5% 5%;
}
