body {
  font-family: "Times New Roman", Times, serif;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to right, #2F4F4F 20%, #000000 40%, #000000 30%);
}