body {
  font-family: "Times New Roman", Times, serif;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: radial-gradient(#6cd0ff, #1c2e4c);
}

/*D2B48C*/
