body {
  font-family: "Times New Roman", Times, serif;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(to top right, #1a3556 85%, #334b69 110%);
  /* background-color: #28223f; */
}
