.our-team {
  padding: 2% 0% 4% 0%;
  margin: 5% 5% 0% 5%;
  width: 90%;
  text-align: center;
  overflow: hidden;
  position: relative;
  background-image: radial-gradient(#ff8080, #ffe6e6);
  /* background: linear-gradient(to bottom, #9cebb3 10%, #2a2b2a 50%); */
  border-style: 0px solid;
  box-shadow: 1px 3px 15px radial-gradient(#6cd0ff, #1c2e4c);
}

.our-team .picture {
  display: inline-block;
  height: 250px;
  width: 250px;
  margin-bottom: 10%;
  margin-top: 3%;
  z-index: 1;
  position: relative;
}

.our-team .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-image: radial-gradient(#ff9999, #ffe4e1);
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
  height: 100%;
}

.our-team .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-image: radial-gradient(#ff9999, #ffe4e1);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-team .picture img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
  box-shadow: 0 0 0 5px #f7f5ec;
  transform: scale(0.7);
}

.our-team .name {
  margin-left: 0%;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  background: -webkit-linear-gradient(#000000, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.our-team .name span {
  font-size: 2.5rem;
}

.our-team .title {
  display: block;
  font-size: 20px;
  color: #fff;
  text-transform: capitalize;
}

.our-team .title span {
  font-size: 2rem;
}

Hr {
  color: brown;
  width: 45%;
  border-width: 2px;
  text-align: center;
  margin-left: 27%;
}

.About {
  position: relative;
  margin: 10% 2% 0% 2%;
  justify-content: center;
  align-items: center;
}

.Hello {
  color: #000000;
  font-size: 3rem;
  line-height: 1;
  text-align: center;
}

.About h5 {
  color: #000000;
}

.About p {
  color: #000000;
  text-align: center;
}

.submit {
  background-color: transparent;
  color: #000000;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 25px;
  padding: 2%;
  margin: 0% 0% 10% 0%;
}

.projectSubmit {
  background-color: transparent;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 25px;
  padding: 2%;
  width: 35%;
  margin: 5% 0% 0% 5%;
}

.resumeSubmit {
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 25px;
  padding: 2%;
  width: 35%;
  margin: 5% 5% 0% 0%;
}

.downloadCV {
  text-align: center;
  align-items: center;
}
