.projectCard {
  background: linear-gradient(to bottom right, #311d3f 35%, #522546 60%);
  margin: 5%;
  border-radius: 5px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}

.projectContent {
  position: relative;
  padding: 5%;
  justify-content: left;
}

.projectContent a {
  text-decoration: none;
}

.projectContent h2 {
  color: #03a9f4;
  font-size: 1.6rem;
  font-weight: bolder;
}

.projectContent h2 span {
  font-size: 0.7em;
  color: darkgoldenrod;
  font-weight: bold;
}

.projectContent .detail h5 {
  color: #fff;
  font-size: 1em;
  font-weight: bolder;
}

.projectImg img {
  width: 100%;
  padding: 2%;
}
