.projectCard {
  background: linear-gradient(to bottom right, #233240 40%, #34495e 70%);
  margin: 0% 5%;
  border-radius: 15px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}

.projectContent {
  position: relative;
  padding: 5%;
  justify-content: left;
}

.projectContent a {
  text-decoration: none;
}

.projectContent h2 {
  color: #03a9f4;
  font-size: 1.6rem;
  font-weight: bolder;
}

.projectContent h2 span {
  font-size: 0.7em;
  color: darkgoldenrod;
  font-weight: bold;
}

.projectContent .detail h5 {
  color: #fff;
  font-size: 1em;
  font-weight: bolder;
}

.projectImg img {
  width: 100%;
  padding: 2%;
}

.btnLive {
  background-color: transparent;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 25px;
  padding: 2%;
  width: 35%;
  margin-top: 2%;
}

.btnCode {
  background-color: transparent;
  justify-content: center;
  text-align: center;
  border-radius: 25px;
  padding: 2%;
  width: 35%;
  margin: 2% 0% 0% 10%;
}
