.Resume {
    height: 100%;
    width: 100%;
    background-color: #D2B48C;
}

.Resume h1 {
    text-align: center;
    padding: 5%;
    color: #fff;
}

.Resume h4 {
    margin-left: 5%;
    color: #fff;
}