.progressBar {
  color: white;
  margin: 0% 5% 0% 5%;
  background-color: transparent;
  border: 1px solid gray;
}

.label {
  margin: 2% 0% 2% 5%;
  color: #fff;
  font-weight: 600;
}

.progressBarLast {
  color: white;
  margin: 0% 5% 5% 5%;
  background-color: transparent;
  border: 1px solid gray;
}
